/* Body */
body{
    background-color: rgba(245, 241, 237, 0.993); 
    background-image: url(appbackgimg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  /* Navbar */
  .navbar{
    max-height: 57px; 
  }
  .navigation .navbar-brand{
    color: white; 
    margin-left: 30px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: #4C6FBF;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .navbar{
    background-color: white; 
    font-size: 15px; 
  }
  .active, .dropdown-menu .dropdown-item:active a:hover{
    background-color:#E7E7E7!important; 
  }
  .dropdown-item{
    color: #6D8092 !important; 
  }
  .dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
    background-color:#E7E7E7 !important; 
  }
  a{
    color: #6D8092;
    font-size: 15px; 
  }
  .nav-link:hover{
    background-color:#E7E7E7 !important;
   }
  
  .navbar-brand:hover{
  color: rgb(175, 175, 175) !important;
  }
  /* Images */
  img{
    width:100% !important;
    height:100% !important;
  }
  .active, .panel:hover{
    border-color:#4C6FBF;
    border-style: solid; 
    
  }
  .vizualization{
    width:50% !important;
    height:50% !important;
  }

  #apptitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
  }
  
  /* Title Class  */
  .title{
    color: #4C6FBF;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px;
    text-align: center; 
  }
  /* Paragraph Element */
  p{
  color: white;
  font-family: Arial, Helvetica, sans-serif, solid;
  font-size: 25px; 
  }
  /* Unordered list */
  .unorderedlist {
    color: #6D8092;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px; 
  }
  /* Box Class */
  .box {
    margin-top: 20px; 
    margin-bottom: 30px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: #4C6FBF; 
    border-radius: 20px;
  
  }

  .box.first {
    margin-top: 60px; 
    margin-bottom: 30px; 
    padding: 10px 20px 10px; 
    color:black;
    background-color: #4C6FBF; 
    border-radius: 20px;
  
  }

  .box.third {
    margin-top: 60px; 
    margin-bottom: 100px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: #4C6FBF; 
    border-radius: 20px;
  
  }

  




  /* Table */
  .table{
    font-size: 15px; 
    border-top-color: white !important; 
  }
  /* Footer */
  footer{
  background-color: #666666; 
  border-top-style: solid; 
  border-top-width: 5px; 
  border-top-color: #4C6FBF;
  color: white; 
  min-height: 55px; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px; 
  text-align: center; 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 15px; 
  }
  /* Media Queries */
  @media(max-width: 992px){
  .navbar-expand-lg{
  background-color: #4C6FBF !important;
  }
  .navbar{
    max-height: none; 
    padding: inherit;
  }
  .navbar div{
    margin: inherit; 
    background-color: white;  
  }
  .navbar-brand{
    padding: 10px !important; 
  }
  
  button{
    margin-right: 30px; 
  }
  button:focus {
  
    outline: 1px dotted;
    outline: 5px auto -webkit-focusring-color;
    
    }
  }

  #result {

    margin-top: 20px;

    width: auto;
    height: auto;
    padding: 10px 10px;
    text-align: center;
    

    border: 1px solid rgb(241, 10, 99);
    background-color: #eeebe7;
  }

 h2 {
    margin: auto; 
  }

h1{
  text-align: center;
  color:white;
}